<!DOCTYPE html>
<html>
    <head>
        <title>Bazarlar</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        
    <div class="nav">
        <a href="/"><span>BAZARLAR</span></a>
        <div class="links">
            <% if(!currentUser){ %>
                <a href="/login">Войти</a>
                <a href="/register">Регистрация</a>
            <% }else{ %>
                <a href="/admin">Привет, <%= currentUser.username %></a>
                <a href="/logout">Выйти</a>
            <% } %>
        </div>
    </div>
       
    <div class="container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>
