<!DOCTYPE html>
<html>
    <head>
        <title>Masssage | Панель Управления</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/resp.css">
        <link rel="stylesheet" href="/stylesheets/menu.css">
        <link rel="shortcut icon" href="<%= url %>/fav.png" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    </head>
    <body>
    <div class="nav">
        <a href="/" class="brand">Massage</a>
        <div class="links">
            <% if(!currentUser){ %>
                <a href="/login">Войти</a>
                <a href="/register">Регистрация</a>
            <% }else{ %>
                <a href="/myproducts">Привет, <%= currentUser.username %></a>
                <a href="/logout">Выйти</a>
            <% } %>
        </div>
        <div id="mob">
            <button onclick="menu(this)" class="hamburger hamburger--squeeze" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
        </div>
    </div>
    
    <div class="mobbar">
    <% if (!currentUser) { %>
        <a href="/login"><img src="../svg/signin.svg">Войти</a>
        <a href="/register"><img src="../svg/add-user.svg">Регистрация</a>
    <% } else { %>
        <% if (status && status == 9) { %> <a href="/admin"><img src="../svg/crown.svg">Админ панель</a> <% } %>
        <a href="/profile"><img src="../svg/profile.svg">Информация</a>
        <a href="/myproducts"><img src="../svg/package.svg">Девочки</a>
        <a href="/favs"><img src="../svg/heart.svg">Избранное</a>
        <a href="/products/new"><img src="../svg/add-item.svg">Новый Товар</a>
        <a href="/logout"><img src="../svg/logout.svg">Выйти</a>
    <% } %>
</div>