<% include partials/header %>

<div class="wrapper">
    <form class="login" action="/register" method="POST">
        <p>Регистрация</p>
        <input class="form-control" type="text" name="username" placeholder="Логин">
        <input class="form-control" type="password" name="password" placeholder="Пароль">
        <button class="btn btn-lg btn-primary btn-block">Создать Аккаунт</button> 
        <a href="/products">Назад</a>
    </form>
</div>


<% include partials/footer %>
