@media screen and (max-width: 1650px) {
    .wrap > div { width: 76.7rem; }

    .programs > div:nth-child(odd) h4,
    .programs > div:nth-child(odd) p { left: 10rem; }
    
    .programs > div:nth-child(even) h4 { right: 12rem; }
    .programs > div:nth-child(even) p { right: 7.5rem; }
}

@media screen and (max-width: 1350px) {
    .wrap > div { width: 56.7rem; }
    
    .topmenu .menu { display: none; }
    .yummy { display: block; }

    .girlsGrid { justify-content: center; }
    .appsGrid > div, .quote{ flex-direction: column; }
    .appsGrid > div.revers { flex-direction: column-reverse; }

    .quote img { position: relative; left: 0; bottom: 0; }
    .quote > div { padding: 4rem; margin: 0; text-align: center; }
    .offerblock h4 { height: 4.7rem; }
    .programs > div { width: 100%; padding-bottom: 50%; }

    ul { height: 8.5rem; }
    li { font-size: 1.3rem; margin: .5rem 0; line-height: 1.5rem; }

    .programs > div:nth-child(odd) h4,
    .programs > div:nth-child(odd) p { left: 16rem; }
    
    .programs > div:nth-child(even) h4 { right: 17rem; }
    .programs > div:nth-child(even) p { right: 12.5rem; }
}

@media screen and (max-width: 1000px) {
    .wrap > div { width: 36.7rem; }

    .programs > div {
        clip-path: none !important;
        left: auto !important;
        position: relative;
    }

    .programs > div h4.gold {
        left: 2rem; 
        top: 2rem;
        right: auto;
        bottom: auto;
    }

    .programs > div p {
        top: 6rem !important;
        left: 2rem !important;
    }

    .offerblock > div { width: 100%; margin-bottom: 3rem; }
    ul {height: auto; margin-top: 0rem;}
    .appsGrid img { margin-bottom: 1rem; }

    li { font-size: 1.6rem; }
}

@media screen and (max-width: 650px) {
    .hero { background-position: left bottom; }

    .anchor img, .offerblock h4{ height: 1.8rem; }

    .wrap > div { width: 19rem; }
    .programs h4, .programs p { position: relative; width: 80%; }
    .girlsGrid > div, .quote > div, .quote img { width: 18rem; }

    h3, .hero h3{ margin-bottom:  2.5rem; }
    .appsGrid p { margin: 1rem 0; }
    li { margin: 0; line-height: 1.3rem; }
    ul { margin: 1.5rem 0; }
    .btn.show { margin-top: 2.5rem; }
    h2 { margin-bottom: .3rem; }

    .girlsGrid .btn.more { padding: .5rem .8rem; }
    .quote > div { padding: 1.8rem; }
    .section { padding: 4rem 0; }
    .girlsGrid .buttonRow, .anchor{ padding: .7rem; }
    .btn.show { padding: .5rem 3rem; }
    .btn, .hero .btn { font-size: 1rem; padding: .7rem 1.5rem;}

    .callback .btn { top: -1rem; }
    h2, .brand a{ font-size: 1.7rem; }
    .yummy { top: -1.2rem; }
    .overlay { top: 4rem; }
    h3, h4 { font-size: 1.25rem; }
    .programs p, .quote p, footer p, .appsGrid p, li { font-size: 1rem; }
    .hero h1 { font-size: 2.1rem; }

    
}