@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*** admin sidebar ****/
.toolbar {
    position: absolute;
    left: 0;
    top: 60px;
    width: 12rem;
    padding: 1rem 0;
    height: 100%;
    max-height: calc(100vh - 60px);
    background: #999999;
    box-sizing: border-box;
    transition: 0.3s ease;
    z-index: 999;
}

.toolbar a,
.minibar a{
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.toolbar a:hover,
.minibar a:hover{
    background: #7f7f7f;
}

.toolbar a img,
.minibar a img{
    height: 1.7rem;
    margin-right: 0.5rem;
}

.minibar {
    position: fixed;
    left: -12rem;
    top: 0;
    width: 12rem;
    padding: 1rem 0;
    height: 100vh;
    background: #999999;
    box-sizing: border-box;
    transition: 0.3s ease;
    z-index: 999;
}

#tool.is-active {
    left: 0;
}

.adminh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    background: #ada6a6;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 900;
    color: #fff;
}

.nav > a {
    text-decoration: none;
}

.adminarea {
    position: relative;
    background: #eff0f2;
    width: calc(100% - 14rem);
    min-height: 100px;
    margin: 1rem 1rem 1rem 13rem;
    box-sizing: border-box;
    padding: 4.5rem 1rem 1rem 1rem;
}

/**** nav ****/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border: 0;
    border-bottom: #999999 1px solid;
    width: 100%;
}

.blogo {
    height: 1.5rem;
}

.nav span {
    font-weight: 900;
    color: #999999;
    text-decoration: none;
}

.nav .links > a{
    margin: 0 0 0 1rem;
    color: #999999;
    text-decoration: none;
    font-size: 1rem;
}

.nav .links > a:hover {
    opacity: 0.7;
}

/***** products grid ***/
.productsGrid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.5rem;
    padding-top: 0.5rem;
}

.productInfo {
    position: relative;
    color: #000;
}

.product .price {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #000;
    padding: 0.5rem 1rem;
    margin: 0;
    background: rgba(255,255,255, 0.85);
}

.productInfo:hover .productOverlay{
    opacity: 1;
}

.productOverlay {
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.7);
    padding: 1rem;
    box-sizing: border-box;
}

.productOverlay p {
    margin: 0;
    font-size: 1.5rem;
}

.product {
    width: 12.5%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    position: relative;
}

.productImg {
    width: 100%;
    padding-bottom: 100%
}

/*** login **/

.butt {
    background: #999999;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
    border: 0;
    font-size: 0.9rem;
    margin: 0  0 0.2rem 1.2rem;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    box-sizing: border-box;
}

.delrow {
    display: flex;
    align-items: center;
}

.delrow img {
    height: 1.5rem;
}

.delrow button {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0 1rem;
    padding: 0;
}

form.login {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    width: 28rem;
    font-family: 'Montserrat';
    box-sizing: border-box;
    background: #eff0f2;
}

form.login.new {
    padding: 0;
    max-width: 30rem;
}

form.login input, form select, textarea {
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0;
    margin-bottom: 0.5rem;
    border: 1px solid gray;
    font-size: 1rem;
    font-family: 'Montserrat';
}

form.login button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: #29a0cb;
    margin-bottom: 1rem;
    font-family: 'Montserrat';
    border: 0;
    color: #fff;
    outline: none;
    cursor: pointer;
}

iframe {
    margin-top: 8rem;
    width: 60rem;
}

form.login p {
    margin: 0 0 1rem 0;
}

/**** product page **/
.showroom {
    display: flex;
    align-items: flex-start;
}

.showroom .main {
    width: 30rem;
    height: 30rem;
}

.call {
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.call img{
    height: 2rem;
    margin-left: 1rem;
}

.showroom .main img {
    width: 100%;
}

.showdesc {
    padding: 0 2rem;
    width: 30rem;
    box-sizing: border-box;
}

.centered {
    display: flex;
    width: 100%;
    justify-content: center;
}

/*** small slides**/
.small-slides {
    display: flex;
    margin-top: 0.5rem;
}

.small-slides > div {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    cursor: pointer;
    border: 0.5rem solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.small-slides > div:hover {
    border: 0;
}

.small-slides > div > img {
    width: 100%;
}

.next, .prev {
    position: absolute;
    top: 0;
    z-index: 9;
    cursor: pointer;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next { right: 0rem; }
.prev { left: 0rem; }

.next img, .prev img {
    height: 2.5rem;
}

/*** search **/

.search {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.search img{
    height: 1.5rem;
    padding: 0.2rem;
}

.search button {
    position: absolute;
    bottom: 0.05rem;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    right: 2.3rem;
}

.search .gear {
    position: absolute;
    bottom: 0.25rem;
    right: 0.4rem;
    height: 1.6rem;
    cursor: pointer;
}

.search input {
    width: 19rem;
    border: 0;
    padding: 0.5rem 2.8rem 0.6rem 1rem;
    border-radius: 0;
    border: 1px solid gray;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    font-size: 1rem;
    font-family: 'Montserrat';
}

.advanced {
    width: 20rem;
    display: none;
    background: lightgray;
    padding: 1rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
    flex-direction: column;
}

.advanced.show {
    display: flex;
}

.advanced select {
    width: 18rem;
}


/*** share /*****/
.share img {
 height: 2rem;   
}

/*** author **/

.author {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 2rem 0;
}

.author > img {
    width: 15rem;
    height: auto;
    margin-right: 2rem;
}

.author h1 {
    margin: 0;
}

/*** flash ***/
.flash {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}

.alert {
    margin: 0 0 1rem 0;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
}

.alert-danger {
    color: #a94442;
    background: #f2dede;
    border: 1px solid #ebccd1;
}

.alert-success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #d6e9c6;
}

/***** photos upload ****/
.upload {
    display: flex;
    justify-content: space-around;
    width: 28rem;
}

.upload > div {
    height: 4rem;
    width: 4rem;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.3rem 1rem 0.3rem;
    overflow: hidden;
}

.upload > div.chosen {
    background-color: #dbdbdb;
}

.slid {
    position: relative;
    display: flex;
    flex-direction: column;
}

.upload .new { cursor: pointer; }
.upload .new img.add{ height: 2rem; }

input[type="file"], .added, .chosen .add{
    display: none;
}

.data {
    margin: 0;
    display: flex;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 1rem;
    cursor: pointer;
    display: none;
    z-index: 9;
}

.uploaded .add {
    display: none;
}

.uploaded .close, .uploaded .dataImg {
    display: block;
}

.dataImg {
    width: 100%;
    height: 100%;
    display: none;
}

.callbutt {
    display: none;
}

.callbutt.show {
    display: flex;
}

.callhim {
    position: fixed;
    bottom: 0;
    right: 1rem;
    z-index: 8;
    display: none;
    flex-direction: column;
}

.hid {
    display: none;
}

.callhim img {
    height: 4rem;
    margin-bottom: 1rem;
}

input, button {
    border-radius: 1rem !important;
}

#mob, .none { display: none; }

@media screen and (max-width: 1600px) {
    .product { width: 16.7%; }
}

@media screen and (max-width: 1400px) {
    .product { width: 20%; }
}

@media screen and (max-width: 1200px) {
    .product { width: 25%; }
}

@media screen and (max-width: 960px) {
    .product { width: 33.333%; }
    form.login, .upload { width: 25rem; }
    .showdesc, .showroom .main {
        width: 23.7rem;
    }
    iframe {
        width: 47.5rem;
    }
    .showroom .main { height: 23.7rem; }
}

@media screen and (max-width: 760px) {
    .mobhide { display: none; }
    .call { justify-content: center; }
    .call a { margin: 0; }
    .author { flex-direction: column; align-items: center; }
    .author > img { margin-right: 0 }
    .author > div {
        text-align: center;
    }
    .product { width: 50%; }
    #mob { display: block; }
    .callhim { display: flex; }
    .links { display: none; }
        .toolbar {
        position: fixed;
        left: -12rem;
        top: 0;
        max-height: 100vh;
    }
    .adminarea {
        margin: 0.5rem;
        width: calc(100% - 1rem);
    }
    .showdesc, .showroom .main {
        width: 20.5rem;
    }
    iframe {
        width: 41.5rem;
    }
}

@media screen and (max-width: 660px) {
    .product { width: 50%; }
    .showroom { flex-direction: column; }
    .showdesc { padding: 0 0.5rem; }
    .showroom, .showdesc, .showroom .main {
        width: 28.5rem;
    }
    iframe { width: 100%; }
}

@media screen and (max-width: 460px) {
    .author, form.login, .upload { width: 100%; }
    form.login { margin: 0 0.5rem; }
    .author { padding: 0 1rem; }
    .author h1 { font-size: 1.5rem; }
    .showdesc h1 { font-size: 1.5rem; }
    .showroom, .showdesc, .showroom .main {
        width: 22.7rem;
    }
}

@media screen and (max-width: 360px) {
    .product { width: 100%; }
    .upload { flex-wrap: wrap; }
    .next, .prev { display: none; }
    iframe { margin-top: 3rem; }
    .showroom, .showdesc, .showroom .main {
        width: 20rem;
    }
    .showroom .main { height: 20rem; }
}