<% include ../partials/header %>

<div class="minibar" id="tool">
    <a href="/admin"><img src="../../../svg/package.svg">Мои Товары</a>
    <a href="/products/new"><img src="../../../svg/add-item.svg">Новый Товар</a>
    <a href="/logout"><img src="../../../svg/logout.svg">Выйти</a>
</div>

<div class="productsGrid">
    <% products.forEach(function(product) { %>
        <a class="product" href="/products/<%= product._id %>">
            <div class="productInfo">
                <div class="productImg" style="background: url(<%= product.image[0] %>) center/cover no-repeat;"></div>
                <div class="productOverlay">
                    <p><%= product.name %></p>
                </div>
            </div>
            <p class="price"><%= product.price %>₸</p>
        </a>
    <% }); %>
</div>

<div class="search">
    <form action="/products/search" method="POST">
        <input type="text" name="query" placeholder="Поиск...">
        <button><img src="svg/search.svg"></button>
        <img class="gear" src="svg/gear.svg">
    </form>
</div>

<% include ../partials/footer %>