<% include ../partials/header %>

<!--div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Bazarlar!</h1>
            <p>View our hand-picked products from all over the world</p>
            <a class="btn btn-primary btn-large" href="/products/new">Add New Product</a>
        </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    </div>
</div-->

<div class="productsGrid">
    <% products.forEach(function(product) { %>
        <a class="product" href="/products/<%= product._id %>">
            <div class="productInfo">
                <div class="productImg" style="background: url(<%= product.image %>) center/cover no-repeat;"></div>
                <div class="productOverlay">
                    <p><%= product.name %></p>
                </div>
            </div>
        </a>
    <% }); %>
</div>



<% include ../partials/footer %>