<% include ../partials/header %>
<% include ../partials/minibar %>

<div class="adminarea">
    <p class="adminh">Услуги салона <a style="margin-left: 1rem;" href="/services/new">Добавить</a></p>
    <div class="productsGrid">
        <% products.forEach(function(product) { %>
            <div class="product">
                <a href="/services/<%= product._id %>/edit">
                    <div class="productImg ad" style="background: url(<%= product.image[0].replace(" ","%20") %>) center/cover no-repeat;"></div>
                    <div class="productOverlay"><p><%= product.name %></p></div>
                </a>
                <a class="price" href="/services/<%= product.id %>/edit"><img style="height: 1.5rem;" src="../svg/edit.svg"></a>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>